@import url("https://fonts.googleapis.com/css2?family=Lobster");

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  margin: auto;
  font-family: "Lobster", cursive;
  font-size: 130px;
  color: #b8b8b8;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6699cc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
