.App {
  text-align: center;
  width: 80%;
  background-color: white;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.artContainer {
  width: 330px;
  height: 330px;
  background-color: gray;
  padding: 10px;
  margin: auto;
}
.art {
  width: 300px;
  height: 300px;
  margin: auto;
}
.postbutton {
  width: 200px;
  height: 70px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drawings {
  padding-top: 50px;
  display: flex;
  width: 1500px;
  margin: auto;
  flex-wrap: wrap;
}

.myButton {
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  width: 68px;
  height: 68px;
  background-color: #768d87;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 9px;
  text-decoration: none;
}
.myButton:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.singleImage {
  height: 760px;
  width: 760px;
}
.canvas {
  padding-bottom: 200px;
}
